*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section{
    width: 60%;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}


header, main section{
    text-align: center;
    margin-top: 40px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

header h1{
    color: deeppink;
}

/* gestione del main  */

.cards{
    width: calc(100% / 3 - 30px);
    background-color: black;
    color: white;
    text-align: left;
    float: left;
    box-shadow: 0px 0px 10px 3px gray;
    margin: 0 15px;
}

.cards img{
    width: 30%; 
    float: left;
}

.team-info ul li h5, .team-info ul li p, .team-info ul li a{
    text-decoration: none;
    margin: 8px 0 0 10px;
}

.team-info ul li h5{
 font-weight: bold;
}

.team-info ul li p, .team-info ul li a {
    font-size: 12px;
}

ul{
    list-style-type: none;
    height: 70px;
    overflow: auto;
}

/* style scrollbar  */

ul::-webkit-scrollbar {
    width: 2px;
    background: white;
}

ul::-webkit-scrollbar-thumb{
    background-color:deeppink;
}