*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section{
    width: 60%;
    margin: auto;
}


header, main section{
    text-align: center;
    margin-top: 40px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.cards{
    width: calc(100% / 3 - 20px);
    background-color: black;
    color: white;
    text-align: left;
    float: left;
    box-shadow: 0px 0px 5px 5px lightgray;
}

.cards img{
    width: 30%; 
    float: left;
}

.team-info h3, .team-info p, .team-info a{
    text-decoration: none;
    margin: 8px 0 0 10px;
    display: inline-block;
}


