*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section{
    width: 60%;
    margin: auto;
}


header, main section{
    text-align: center;
    margin-top: 40px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.cards{
    width: calc(100% / 3 - 30px);
    background-color: black;
    color: white;
    text-align: left;
    float: left;
    box-shadow: 0px 0px 10px 3px gray;
    margin: 0 15px;
}

.cards img{
    width: 30%; 
    float: left;
}

.team-info h3, .team-info p, .team-info a{
    text-decoration: none;
    padding: 5px 0 0 10px;
    display: inline-block;
}

/* .top .team-info{
    height: 70px;
    overflow: auto;
} */

/* test with ul  */

ul{
    list-style-type: none;
    height: 70px;
    margin-top: 5px;
    overflow: auto;
}

/* style scrollbar  */

ul::-webkit-scrollbar {
    width: 2px;
    background: white;
}

ul::-webkit-scrollbar-thumb{
    background-color:deeppink;
}

/* .team-info::-webkit-scrollbar {
    width: 2px;
    background: white;
}

.team-info::-webkit-scrollbar-thumb{
    background-color:deeppink;
} */
